.projectCard {
    border: 1px solid #D9D9D9;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
  }
  
  .projectTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.75rem;    
    background-image: url('../assets/bg4.png');
    background-position: -50px 20px;
    background-size: 50% auto; 
    padding-left: 20px;
    background-repeat: no-repeat;
  }
  
  .projectDescription {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .viewDetailsWrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .viewDetails {
    background-color: #000;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .viewDetails:hover {
    background-color: #333;
  }